<h1>Doctor Show Page</h1>

Name: <%=@doctor.name %>
Specialty: <%=@doctor.specialty %>
Doctorate: <%=@doctor.university %>
<%=@doctor.hospital.name%>
<% @doctor.patients.each do |patient| %>
   <%= patient.name %> 
   <%=button_to "Remove #{patient.name}", "/doctor_patients/#{@doctor.id}", params: {patient_id: patient.id}, method: :delete %>
<% end %>